h1 {
    font-size: 4.375rem;
    text-align: center;
    color: $siteBlack;
    margin: 0;
    font-family: "hwt-american-shopworn";
}

h1 span {
    font-size: 3.5rem;
}

h2 {
    font-size: (38rem/16);
    font-family: "hwt-american-shopworn";
    color: $white;
    font-weight: bold;
    text-align: center;
    padding: 1rem 0;
}

h3 {
    color: $white;
    font-size: (42rem/16);
    font-family: 'Dancing Script';
}

p {
    color: $white;
    line-height: (24rem/16);
}