.body--header {
    position: relative;
}

.header--title {
    position: absolute;
    top: 75px;
    z-index: 1000;
    left: 0;
    right: 0;
}

.header--title a {
    display: block;
    padding: 2rem 3.5rem;
}

.header--image {
    margin: 0 auto;
    max-width: 790px;
    position: absolute;
    bottom: 55px;
    left: 0;
    right: 0;
}

.header--nav {
    background-color: $siteBrown;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.nav--container {
    list-style-type: none;
    @include flexbox();
    @include flexbox-align-items(center);
    @include flexbox-justify-content(space-between);
    margin: 0 auto;
    padding: 0;
    width: 80%;
    max-width: 300px;
}

.nav--container a {
    display: block;
    width: 25%;
}

.nav--container_link {
    text-align: center;
    color: $white;
    font-size: (30rem/16);
    transition-duration: .25s;
    font-family: 'Dancing Script';
    cursor: pointer;
}

.nav--container_link:hover {
    color: $siteGrey;
}