.main--music {
    @include flexbox();
    @include flexbox-align-items(center);
    @include flexbox-justify-content(center);
    position: relative;
}

.music--header, .music--content {
    width: 50%;
    position: relative;
}

.music--header {
    background-color: $siteBlack;
    left: 0;
}

.music--content {
    padding: 5rem 3rem;
    margin-left: auto;
}

.music--header h2 {
    @include transform-translate(0, -50%);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.music--nav {
    list-style-type: none;
    @include flexbox();
    @include flexbox-align-items(center);
    @include flexbox-justify-content(space-between);
    margin: 0 auto;
    padding: 0;
    width: 80%;
    max-width: 300px;
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
}